body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    background-color:mintcream;
  }
  
  a {
    text-decoration: none;
  }
  
  .form-control:focus {
    box-shadow: inset 0 0 0 transparent
  }
  
  .form-control::-webkit-input-placeholder {
    color: #939ba2;
  }
  
  .main-sidebar {
    width: 250px;
    height: 100vh;
    transition: width 0.3s ease;
  }
  
  .main-sidebar.closed {
    width: 55px;
    height: 100vh;
  }
  
  .sidebar {
    overflow-x: hidden;
    padding-right: .5rem;
  }
  .nav-sidebar .nav-item .nav-link {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
  }
  
  .nav-sidebar .menu-open .nav-treeview {
    display: block;
  }
  
  .nav-sidebar .nav-item .nav-icon {
    margin-left: .05rem;
    font-size: 1.2rem;
    margin-right: .2rem;
    width: 1.6rem;
  }
  
  .nav-sidebar .nav-link p {
    margin: 0;
  }
  
  .main-sidebar.closed .nav-sidebar .nav-item .nav-link p {
    display: none;
  }
  .main-sidebar.closed .user-panel .image {
    display: none;
  }
  
  .main-sidebar.closed .user-panel img {
    height: 30px;
    width: 2.0rem;
  }
  [class*=sidebar-dark-] {
    background-color: #343a40
  }
  
  [class*=sidebar-dark-] .sidebar a {
    color: #c2c7d0
  }
  
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus,
  [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgba(255, 255, 255, .9);
    color: #343a40
  }
  
  [class*=sidebar-dark] .btn-sidebar,
  [class*=sidebar-dark] .form-control-sidebar {
    background-color: #3f474e;
    border: 1px solid #56606a;
    color: #fff
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .content-wrapper {
    flex: 1;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
  }
  
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
  }
  .user-panel .image {
    display: inline-block;
    margin-left: 23px;
  }
  
  .user-panel img {
    height: 30px;
    width: 8.0rem;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn:hover {
    color: #212529;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: none;
  }
  
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }
  
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  
  .small-box .icon>i {
    right: 15px;
    top: 15px;
  }
  
  .small-box {
    position: relative;
    display: block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .small-box>.inner {
    padding: 10px;
  }
  
  .small-box>.small-box-footer {
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
  }
  
  .small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
    color: #fff;
  }
  
  .small-box p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .small-box .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 70px;
    color: rgba(0, 0, 0, .15);
    z-index: 0;
  }
  
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  [class*=sidebar-dark] .brand-link,
  [class*=sidebar-dark] .brand-link .pushmenu {
    color: rgba(255, 255, 255, .8)
  }
  
  [class*=sidebar-dark] .brand-link .pushmenu:hover,
  [class*=sidebar-dark] .brand-link:hover {
    color: #fff
  }
  
  [class*=sidebar-light] .brand-link {
    border-bottom: 1px solid #dee2e6
  }
  
  [class*=sidebar-light] .brand-link,
  [class*=sidebar-light] .brand-link .pushmenu {
    color: rgba(0, 0, 0, .8)
  }
  
  [class*=sidebar-light] .brand-link .pushmenu:hover,
  [class*=sidebar-light] .brand-link:hover {
    color: #000
  }
  
  .brand-link .pushmenu {
    margin-right: .5rem;
    font-size: 1rem
  }
  .nav-sidebar .nav-item > .nav-link:hover {
    background-color:mintcream;
    color:black;
  }
  .search-container {
    padding: 10px;
  }
  
  .main-sidebar.closed .search-container {
    display: none;
  }
  
  .pb-5 {
    padding-bottom: 5rem !important;
  }
  
  .pb-3 {
    padding-bottom: 1rem !important;
  }
  .navbar-expand .navbar-nav .nav-link{
    padding-left: 20px;
    padding-right: 20px;
  }
  